services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - ssl_certs:/app/ssl
    depends_on:
      - db
    environment:
      - DEBUG=1
      - DATABASE_URL=postgres://postgres:postgres@db:5432/fixitdesk

  db:
    image: postgres:14
    environment:
      POSTGRES_DB: fixitdesk
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
  frontend:
    build: ./fixitdesk-frontend
    container_name: fixitdesk-frontend
    ports:
      - "3000:3000"
    depends_on:
      - web
    environment:
      - REACT_APP_API_URL=https://localhost

  nginx:
    image: nginx:latest
    container_name: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ssl_certs:/etc/nginx/ssl
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - web
    entrypoint: ["sh", "-c", "sleep 10 && exec nginx -g 'daemon off;'"]
  pgadmin:
    image: dpage/pgadmin4
    restart: always
    ports:
     - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@fixitdesk.hu
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: "False" 
    depends_on:
     - db
    volumes:
    - ./pgadmin/servers.json:/pgadmin4/servers.json
volumes:
  postgres_data:
  ssl_certs: