.fade-in {
  animation: fadeInAnimation 1  s;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}




.zoom {
  animation: zoom 1s ease forwards;
  transform: scale(0);
}

@keyframes zoom {
  to {
    transform: scale(1);
  }
}


.slide-in {
  animation: slide-in 1.4s ease-in;
  position: relative;
}

@keyframes slide-in {
  0% {
    left: -100%;

  }
  100% {
    left: 0%;
  }
}
